@charset "UTF-8";
a{
	color: #666;
}
a:hover{
	text-decoration: none;
}
.require {
	color: red;
}
.checkText {
	padding-left: 10px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 100px;
}
